.currbox{
    height: 56px;
    width: 210px;
    outline: 0;
    border: 0;
}


.cur{
    position: fixed;
    margin-left: 15px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-top: 13px;
}

.selectcurr{
    padding-left: 95px;
    height: 100%;
    width: 100%;
    background-color: rgba(61, 220, 35, 0.5);
    color: white;
    font-size: 20px;
    font-weight: 400;
    outline: 0;
    border: 0;
    border-radius: 8px;
}

.dropdown{
    color: black;
    padding-right: 40px;
}
